body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'cocogoose';
  src: url('./public/fonts/Cocogoose-Pro-trial.ttf');
}

/* GENERICS CLASSES */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.primary-bg-color {
  background-color: #272a31;
}

.secondary-bg-color {
  color: #ec5242;
  background-color: #ec5242;
}

.alternative-bg-color {
  color: #d3d3d3;
  background-color: #d3d3d3;
}

.primary-text-color {
  color: #272a31;
}

.secondary-text-color {
  color: #ec5242;
}

.alternative-text-color {
  color: #d3d3d3;
}

.bg-white {
  background-color: #fff;
}

.hide-on-sm,
.hide-on-lg {
  display: none;
}

.show-on-sm,
.show-on-lg {
  display: flex;
}

.font-cocogoose {
  font-family: 'cocogoose', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.text-justify {
  text-align: justify;
}

.font-bold {
  font-weight: bold;
}

.font-md {
  font-size: 14px;
}

.font-lg {
  font-size: 20px;
}

.font-sm {
  font-size: 12px;
  line-height: 24px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-white {
  color: #fff;
}

.line {
  height: 0.3px;
  width: 15%;
  margin-top: -2%;
}

.button-lg {
  border: none;
  width: 70%;
  height: 10%;
  padding: 20px;
  margin: 20px 0;
  font-size: 18px;
}

.m-10 {
  margin: 10px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.text-gray {
  color: gray;
}

.list-none {
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

/* HEADER SECTION */
header {
  width: 100%;
}

#openMenuIcon,
#closeMenuIcon {
  font-size: 32px;
  padding: 5%;
  color: #fff;
}

#closeMenuIcon {
  display: none;
}

/* Headline section */
.headline-section {
  background-image: url('./public/images/svgs/mobile-landing.svg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0%;
}

.headline-content-container {
  margin-top: 60%;
  padding: 0 30px;
}

.venue-text {
  font-size: 15px;
  margin: 8% 0 0 13%;
}

.dateTime-text {
  font-size: 18px;
}

/* MODAL SECTION */
.modal-section {
  top: 0%;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 20px;
  display: none;
  background-color: rgb(0, 0, 0, 0.9);
}

.mobile-menu {
  margin-top: 10%;
}

.mobile-menu > ul > li {
  margin: 7% 0 0 -7%;
}

.line-md {
  width: 80%;
}

/* MAIN PROGRAM SECTION */
.main-program-section {
  height: auto;
  background-image: url('./public/images/program-x.png');
  padding: 20px 10px;
}

.cards-container {
  margin-top: 8%;
}

.card {
  background-color: #3c3f4675;
  padding: 2px 10px;
  margin: 10px 0;
}

.card-icon {
  width: 10%;
}

.card-title {
  width: 30%;
  font-size: 18px;
  padding-left: 5%;
}

.card-summary {
  width: 60%;
  padding-left: 5%;
}

/* GUEST ARTIST SECTION */
.guest-artists-section {
  background-color: #fff;
  padding: 20px 10px;
}

.guest-artists-cards-container {
  margin-top: 10%;
}

.artist-image-container {
  width: 30%;
  height: 50%;
}

.artist-image-container > .chess-image {
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: contain;
}

.artist-image-container > .artist-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  position: absolute;
  margin: -1% 0 0 -10.5%;
}

.artist-content-container {
  width: 70%;
  margin-left: 30px;
}

.artist-content-container .artist-name {
  font-size: 17px;
  margin-bottom: -2%;
}

.artist-content-container .artist-record-label {
  font-style: italic;
  font-size: 12px;
}

.artist-content-container .artist-summary {
  font-size: 12px;
}

.line-sm {
  width: 10% !important;
  background-color: gray !important;
}

.line-xs {
  width: 10% !important;
}

.see-more-button,
.collapse-button {
  border: 1px solid #3c3f4659;
  height: 40px;
  width: 100%;
}

.chevron {
  margin: 0 15px;
}

.collapse-button {
  display: none;
}

/* ABOUT SECTION */
.about-headline-section {
  background-image: url('./public/images/svgs/mobile-about.svg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0%;
}

.about-headline-content-container {
  margin: 35% 0 0 0;
  padding: 10px 0;
}

.about-headline-content-card {
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.description {
  font-size: 15px;
  line-height: 24px;
}

.about-site-logo {
  margin: 10% 0;
}

.about-second-section {
  padding: 20px 10px;
}

.past-event-images-container {
  width: 100%;
  height: 80%;
  padding: 10px 0;
}

.past-event {
  height: 25vh !important;
  margin: 0 25px 20px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-event-image-1 {
  background-image: url('./public/images/past-events/event1.jpg');
}

.past-event-image-2 {
  background-image: url('./public/images/past-events/event2.jpg');
}

.past-event-content {
  background-color: rgba(172, 40, 40, 0.719);
  height: 100%;
  width: 100%;
}

.past-event-content > h4 {
  margin-bottom: -3px;
}

/* Partners Section */
.partners-section {
  height: 30vh;
}

.partner-image-container > ul {
  margin-left: -25px;
}

.partner-image-container > ul > li {
  margin: 0 10px;
}

.partners-image {
  width: 90px;
  margin: 0 10px 0 -15px;
}

/* FOOTER SECTION */

footer {
  height: 15vh;
}

footer .footer-site-logo {
  width: 20%;
  margin-right: 10%;
}

footer .copyright-text {
  font-size: 13px;
  line-height: 20px;
}
