body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'cocogoose';
  src: url('./public/fonts/Cocogoose-Pro-trial.ttf');
}

/* GENERICS CLASSES */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.primary-bg-color {
  background-color: #272a31;
}

.secondary-bg-color {
  color: #ec5242;
  background-color: #ec5242;
}

.alternative-bg-color {
  color: #d3d3d3;
  background-color: #d3d3d3;
}

.primary-text-color {
  color: #272a31;
}

.secondary-text-color {
  color: #ec5242;
}

.alternative-text-color {
  color: #d3d3d3;
}

.hide-on-sm,
.hide-on-lg {
  display: none;
}

.show-on-sm,
.show-on-lg {
  display: flex;
}

.font-cocogoose {
  font-family: 'cocogoose', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.text-justify {
  text-align: justify;
}

.font-bold {
  font-weight: bold;
}

.font-md {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-white {
  color: #fff;
}

.line {
  height: 0.3px;
  width: 15%;
  margin-top: -2%;
}

.button-lg {
  border: none;
  width: 70%;
  height: 10%;
  padding: 20px;
  margin: 20px 0;
  font-size: 18px;
}

.m-10 {
  margin: 10px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.text-gray {
  color: gray;
}

/* HEADER SECTION */
header {
  width: 100%;
}

#openMenuIcon,
#closeMenuIcon {
  font-size: 32px;
  margin: 5%;
  color: #fff;
}

#closeMenuIcon {
  display: none;
}

/* Headline section */
.headline-section {
  background-image: url('/public/images/mobile-landing.svg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0%;
}

.headline-content-container {
  margin-top: 60%;
  padding: 0 30px;
}

.venue-text {
  font-size: 17px;
  margin: 8% 0 0 13%;
}

/* MAIN PROGRAM SECTION */
.main-program-section {
  height: auto;
  background-image: url('./public/images/program-x.png');
  background-size: cover;
  padding: 20px 10px;
}

.cards-container {
  margin-top: 8%;
}

.card {
  background-color: #3c3f46;
  padding: 2px 10px;
  margin: 10px 0;
}

.card-icon {
  width: 10%;
}

.card-title {
  width: 30%;
  font-size: 18px;
  padding-left: 5%;
}

.card-summary {
  width: 60%;
  padding-left: 5%;
}

/* GUEST ARTIST SECTION */
.guest-artists-section {
  background-color: #fff;
  padding: 20px 10px;
}

.guest-artists-cards-container {
  margin-top: 10%;
}

.artist-image-container {
  width: 30%;
  height: 50%;
}

.artist-image-container > .chess-image {
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: contain;
}

.artist-image-container > .artist-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  position: absolute;
  margin: -1% 0 0 -10.5%;
}

.artist-content-container {
  width: 70%;
  margin-left: 30px;
}

.artist-content-container .artist-name {
  font-size: 17px;
  margin-bottom: -2%;
}

.artist-content-container .artist-record-label {
  font-style: italic;
  font-size: 12px;
}

.artist-content-container .artist-summary {
  font-size: 12px;
}

.line-sm {
  width: 10% !important;
  background-color: gray !important;
}

.see-more-button,
.collapse-button {
  border: 1px solid #3c3f4659;
  height: 40px;
  width: 100%;
}

.chevron {
  margin: 0 15px;
}

.collapse-button {
  display: none;
}
